
#alter {
    background-color: blueviolet;
    color: cornsilk;
    padding: 15px;
    margin: 15px;
}

.menu li {
    display: inline;  
    padding: 15px;     
}

.menu li a {
    text-decoration: none;
    color: whitesmoke;
}

li:hover {
    background-color:blueviolet;
}


.menu {
    background-color: grey;
    margin: 15px;
    padding: 10px;
    
}

.menu ul {
    padding-top: 15px;
}


form {
    margin-top: 10%;
    background-color: grey;
    border: 5px solid grey;
    padding: 12px;
    border-radius: 3px;
}

footer {
    text-align: center;
   

}

.explicatif {
   margin-top: 5%;
   text-align: justify;
}

.aside {
    margin-top: 7%;
}